<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <title>Document</title>

  <script>
  (function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);
  </script>

</head>
<body>
  {% if error %}
      {{error}}
   {% endif%}
  <center>
    <br><br><br><br><br>
    <h2> Engine Data Processor Games - RCODI</h2>
  </center>
<form method=post enctype=multipart/form-data> 
  <center>
    <input type="file" name="file" id="file-2" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple style="display:none" />
    <label for="file-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
      </svg> 
      <span>Choose a file&hellip;</span>
    </label>
    <br>
    <input type="submit" value="Upload" id="upload1" class="uploadfile"  style="display:none;">
    <label for="upload1" >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
        </svg> 
        <span>Upload File</span>
    </label>  
  </center>
</form>

<div class="container-fluid">
    <br>
    {% if name_file %}
      <p> <b> File :  </b> {{ name_file }}</p> 
    {% endif %}
    <p> <b> Experiments in the database: </b> </p> 
  
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th> Date Experiment </th>
            <th> Type </th>
            <th> #Players </th>
            <th> #Group </th>
            <th> More information </th>
          </tr>
        </thead>
        <tbody>
          {% if headers %}
            {% for info, type, players, group, label in headers %}
            <tr>
              <td> {{info}} </td>
              <td> {{type}} </td>
              <td> {{players}} </td>
              <td> {{group}} </td>
              <td> <a href="/results/{{label}}">Click me </a></td>
            </tr>
            {% endfor %}  
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  
<script src="{{ url_for('static', filename='js/custom-file-input.js') }}"></script>
</body>
</html>